:root {
	--bs-primary: #7fff00;
	--bs-primary-rgb: 127, 255, 0;
}

* {
	margin: 0;
}

html,
.full-height {
	min-height: 100vh;
	position: relative;
}

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(var(--bs-primary-rgb)) !important;
}

.main-cont {
	width: clamp(50%, 800px, 468px);
}

.messages {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.messages div {
	display: flex;
	flex-direction: column;
	background-color: var(--bs-primary);
	font-size: calc(var(--bs-body-font-size)+1.25rem);
	padding: 0.5em 1em;
	border: 1px solid var(--bs-dark);
	border-radius: 20px;
	width: max-content;
	gap: 0.5rem;
	align-self: flex-end;
}

.messages div p {
	margin: 0;
	font-size: var(--bs-body-font-size);
}

.messages div {
	background-color: var(--bs-dark);
	color: var(--bs-light);
	width: 50%;
}

.messages .self {
	background-color: var(--bs-primary);
	width: 50%;
	margin-left: 50%;
	color:var(--bs-dark);
}
