{% extends "base.html"%}

{% block main %}
<h1>Login</h1>
{% if message %}
<h3>{{message}}</h3>
{% endif %}
<form method='post' action="/login">
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" >
  </div>
  <button type="submit" class="btn bg-primary">Login</button>   
</form>
</form>
{% endblock %}